.Global-Container {
  width: 80vw;
  height: 80vh;
  align-self: center;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* min-height: 100vh; */
  /* border-radius: 30%; */
}

.Bubbles-Container {
  background-color: white;
  width: 70vw;
  height: 70vh;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* min-height: 100vh; */
  /* border-radius: 30%; */
}